

<a href="<%= @cover %>" target='_blank'><img src="<%= @cover %>"></a>


<p>Full title: <span><%= @title %></span></p>

<p>Authors: <span><%= @author %></span></p>

<p>Book's review: <span><%= @description %> </span></p>
